$default: #436372;
$accent: #a3bbc8;
$input: #234969;
$menu-list: #7b7b7b;



%rubik-400{
    font-family: 'Rubik-Regular';
    font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}
%dmsans-400{
  font-family: 'DMSans-Regular';
  font-weight: 400;
}
%dmsans-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}
%dmsans-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}