@import 'vars';
@import 'global';
@import 'reset';
@import 'libs';
@import 'fonts';


// header ###################


.header {
  width: 100%;
  max-width: 1790px;
  padding: 46px 10px;
  margin: 0 auto;
  height: 144px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  &__img {
    display: inline-block;
  }
  &__text {
    font-size: 36px;
    line-height: 58px;
    position: relative;
    top: -6px;
  }
}

.nav {
  display: flex;
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  &__item {
    margin: auto 0;
  }
  &__item+.nav__item {
    margin-left: 30px;
  }
}

.menu {
  display: flex;
  &__item {
    height: 52px;
  }
  &__item+.menu__item {
    margin-left: 44px;
  }
  &__search {
    width: 52px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__item-search{
    padding: 18px;
    cursor: pointer;
  }
  &__user {
    display: flex;
    width: 126px;
    background-color: #fcd7b6;
    position: relative;
  }
  &__user::before{
    content: '';
    width: 52px;
    height: 52px;
    background-color: #fcd7b6;
    border-radius: 50%;
    position: absolute;
    left: -26px;
  }
  &__user::after {
    content: '';
    width: 52px;
    height: 52px;
    background-color: #fcd7b6;
    border-radius: 50%; 
    position: absolute;
    right: -26px; 
  }
  &__item--like{
    position: absolute;
    bottom: -10px;
    left: 21px;
    z-index: 5;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__item--like-quantity, .menu__item--cart-quantity{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: 12px;
    @extend %dmsans-400;
    font-size: 10px;
    text-align: center;
    padding-top: 3px;
  }
  &__item--cart{
    position: absolute;
    bottom: -10px; 
    right: 0px;
    z-index: 5;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &__user--line{
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    position: absolute;
    left: 62px;
    bottom: 10px;
  }
  &__dots{
    width: 52px;
    background-color: $accent;
    border-radius: 50%;
  }
  &__item--dots{
    padding: 16px;
    cursor: pointer;
  }
}




// footer #############################################

.footer{
  padding-top: 75px;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 26px;
  & .logo{
    margin-bottom: 20px;
  }
  &__inner{
    display: flex;
    flex-direction: column;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
  }
  &__top a{
    display: block;
  }
  &__top--item{
    width: 200px;
  }
  &__top--item + .footer__top--item{
    margin-left: 100px;
  }
  &__top--title{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__top--list{
    color: $menu-list;
  }
  &__top--list li{
    margin-bottom: 8px;
  }
  &__top--item-form{
    width: 270px;
  }
  &__top--text{
    margin-bottom: 30px;
    color: $menu-list;
  }
  &__top--form{
    display: flex;
  }
  &__top--input{
    background-color:#fef7f0;
    border: none;
    outline: transparent;
    color: $input;
    width: 170px;
    height: 34px;
    padding-left: 17px;
    padding-right: 10px;
  }
  &__top--input::placeholder{
    color: $input;
  }
  &__top--button{
    height: 34px;
    padding: 0 17px;
    color: #fff;
    background-color: $buttons;
    border: none;
    cursor: pointer;
  }
  &__bot{
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $menu-list;
  }
  &__bot--menu{
    display: flex;
  }
  &__bot--menu-line{
    margin-top: 5px;
    width: 3px;
    height: 17px;
    background-color: $menu-list;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.footer__top--addres, .footer__top--phone, .footer__top--email{
  margin-bottom: 12px;
  color: $menu-list;
}
.logo{
  @extend %dmsans-700;
}

// main ###############################

//  slider top   ############################

.slider-top{
  &__wrap{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 225px;
    height: 819px;
  }
  &__item--content{
    display: flex;
    justify-content: space-between;
  }
  &__image{
    margin-top: 53px;


  }
  &__content--title{
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    font-weight: 700;
    margin-bottom: 28px;
    text-transform: uppercase;
  }
  &__content--text{
    @extend %rubik-400;
    color: $default;
    font-size: 18px;
    line-height: 30px;
    max-width: 370px;
    margin-bottom: 30px;
  }
  &__content--button{
    font-size: 15px;
    @extend %rubik-500;
    line-height: 12px;    
    width: 200px;
    height: 60px;
    color: #fff;
    background-color: $buttons;
    display: block;
    padding-top: 25px;
    padding-left: 27px;
    position: relative;
    right: -1px;
  }
  &__content--arrow{
    position: absolute;
    top: 26px;
    right: 18px;
  }
}
// slick-slider #########

.slick-dots{
  display: flex;
  position: absolute;
  bottom: -205px;
  left: 550px;
  & button{
    background-color: #fde3cc;
    width: 29px;
    height: 29px;
    border: none;
    border-radius: 50%;
    @extend %rubik-500;
    font-size: 11px;
    color: $input;
    margin-right: 11px;
  }
}
.slick-active button{
    background-color: #fff;
}




@import 'media';